

<div class="main top-main">
  <div class="top-message">
    <h2>ちいかわファンクラブ</h2>
    <p>国内最大級のちいかわファンクラブサイトです．</p>

    <p>
        
    <%= link_to("さっそく投稿してみる", "/posts/new") %>
    </p>
  </div>
  
</div>