

<div class="main posts-index">
<div align="center">
<h2>ちいかわerたちの声です</h2>
<p>1度書いたことは消せないので注意してください(データベースの扱い方がわからず、消せないので泣)</p>

</div>

  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
      
        <%= link_to(post.content, "/posts/#{post.id}") %>
       
      </div>
    <% end %>
  </div>
</div>